.trip {
    &--heading {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding: 2rem 0;
    }

    &--footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 6.36rem;
        background-image: linear-gradient($color-primary-light, $color-primary-dark);
        z-index: 20;

        &--back {
            border-radius: 200px;
            font-size: 1.8rem;
            font-weight: 700;
            border: 5px solid $color-white;
            background: transparent;
            cursor: pointer;
            color: $color-white;
            padding: 1rem 3rem;
            transition: all .2s;

            &:hover {
                background: $color-white;
                color: $color-grey-2;
            }
        }

        &--heading {
            color: $color-white;
            font-size: 3.2rem;
            font-weight: 700;
            font-family: $font-heading;
            text-transform: uppercase;
        }
    }
}

.flights {
    grid-row: 1 / 2;
    grid-column: center-start / center-end;
    background-color: $color-white-2;
    display: grid;
    grid-template-columns: 1fr; 
    grid-row-gap: 2rem;
    margin-top: 4rem;
    margin-bottom: 8rem;

    &--item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $color-white;
        min-height: 26rem;
        box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.15);
        transition: all .4s;
        cursor: pointer;
        border-radius: 4px;
        overflow: hidden;
        padding-left: 3rem;

        &--open {
            height: unset;
            z-index: 12;
            margin: 3rem 0; 
        } 

        &:hover {
            box-shadow: 0 1.5rem 2rem rgba(0,0,0,0.15);
            transform: scale(1.06) translateY(0);
        }

        &--outbound, &--inbound {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            padding: 2rem 0;
            width: 35%;

            &--segment {
                padding: 1rem .5rem;
                color: $color-grey-2;
                visibility: collapse;

                &--open {
                    visibility: visible;    
                }
                
                &--title {
                    font-size: 2rem;
                    font-weight: 700;
                    color: transparent;
                    background-clip: text; 
                }

                &--time {
                    font-size: 1.6rem;
                    font-weight: 300;
                }

                &--flight-number {
                    font-size: 1.6rem;
                    font-weight: 100;
                }

                &--carrier {
                    font-size: 1.6rem;
                    font-weight: 600;
                }

            }

            &--carrier-image {
                height: 8rem;
                background-repeat: no-repeat;
            }

            &--direction {
                font-size: 1.6rem;
                font-weight: 100;
                color: $color-grey-2;

                &--icon {
                    font-size: 1.6rem;
                }
            }
    
            &--title {
                font-size: 2.2rem;
                font-family: $font-heading;
                font-weight: 400;
                background-clip: text;
                color: transparent;
            }

            &--operated-by {
                font-size: 1.6rem;
                font-weight: 400;
                color: $color-grey-2;
            }

            &--stops {
                font-size: 1.6rem;
                font-weight: 400;
                color: $color-grey-2;
            }

            &--duration {
                font-size: 1.6rem;
                font-weight: 400;
                color: $color-grey-2;
                position: relative;
                margin-bottom: 3rem;
            }
        }

        &--details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            padding: 2rem 3rem;
            clip-path: polygon(0 0, 100% 0, 100% 80%, 80% 100%, 0 100%);
            width: 30%;

            &--open {
                clip-path: none;
            }

            &--class {
                font-size: 2.3rem;
                color: $color-white;
                font-weight: 100;
                font-family: $font-heading;
            }

            &--price {
                font-size: 3.2rem;
                color: $color-white;
                font-weight: 400;
                font-family: $font-heading;
            }

            &--book {
                /*background-color: $color-white !important;
                color: $color-secondary !important; */
                border: 5px solid $color-white;
                background-color: transparent !important;

                &:hover {
                    background-color: $color-white !important;
                    color: $color-grey-2;
                }
            }
            
            &--price + &--book {
                margin-top: 2rem;
            }
        }
    }
}

.hotels {
    grid-row: 1 / 2;
    grid-column: full-start / full-end;
    background-color: $color-white-2;
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 1fr)); 
    grid-row-gap: 4rem;
    grid-column-gap: 5rem; 
    margin-bottom: 8rem;
    margin-top: 24rem;
    padding: 0 9rem;
    position: relative;

    &--item {
        display: flex;
        flex-direction: column;
        background-color: $color-white;
        box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.15);
        align-items: center;
        height: 65rem;
        transition: all .5s;

        &:hover {
            transform: translateY(-1rem) scale(1.06);
        }

        &--image {
            height: 21rem;
            width: 100%;
            //background-size: cover;
            clip-path: polygon(0 0, 100% 0, 100% 80%, 80% 100%, 0 100%);
        }
        
        &--name {
            padding: 1rem 2rem;
            margin-bottom: .5rem;
            font-size: 3.2rem;
            font-weight: 100;
            font-family: $font-heading;
            color: $color-secondary;
        }
        
        &--name-sub {
            padding: 0 2rem;
            font-size: 1.4rem; 
            font-weight: 700;
            color: $color-secondary-light;
            text-align: center;
        }
        
        &--details {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 2rem 1rem;

            &--item {
                font-size: 2.2rem;
                font-weight: 400;
            }

            &--item + &--item {
                border-top: 1px solid $color-grey;
            }
        }

        &--price {
            font-size: 3.2rem;
            font-weight: 100;
            color: transparent;
            background-image: linear-gradient($color-secondary-light, $color-secondary-dark);
            background-clip: text;
        }

        &--book {
            margin: 2rem;
        }
    }
}

.summary {
    grid-row: 1 / 2;
    grid-column: center-start / center-end;
    background-color: $color-white;
    display: flex;
    flex-direction: column;

    &--flight-hotel {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &--flight {
        width: 50%;
    }

    &--hotel {

        &--heading {
            font-family: $font-heading;
            font-weight: 600;
            font-size: 3.2rem;
            text-transform: uppercase;
            color: transparent;
            background-clip: text;
        }

        &--name {
            color: transparent;
            background-clip: text;
            font-weight: 400;
            font-size: 3.2rem;
        }

        &--name-sub {
            color: transparent;
            background-clip: text;
            padding: 0 2rem;
            font-size: 1.4rem; 
            font-weight: 700;
            text-align: center;
        }
    }

    &--details {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 6.36rem;
        justify-content: space-between;
        padding: 2rem 6rem;
        position: fixed;
        left: 0;
        bottom: 0;
        align-items: center;

        &--price {
            color: $color-white;
            font-weight: 100;
            font-size: 3.2rem;
        }

        &--heading {
            color: $color-white;
            font-size: 3.2rem;
            font-weight: 700;
            font-family: $font-heading;
            text-transform: uppercase;
            //position: absolute;
            //bottom: 0;
            //left: 50%;
            //transform: translate(-50%, -12.5%);
        }

        &--book {
            border-radius: 200px;
            font-size: 1.8rem;
            font-weight: 700;
            border: 5px solid $color-white;
            background: transparent;
            cursor: pointer;
            color: $color-white;
            padding: 1rem 3rem;
            transition: all .2s;

            &:hover {
                background: $color-white;
                color: $color-grey-2;
            }
        }
    }
}