.btn {
    color: $color-secondary;
    background-color: $color-white;
    border: 1px solid $color-secondary;
    border-radius: 200px;
    text-decoration: none;
    outline: none;
    padding: 1rem 3rem;
    font-weight: 300;
    font-size: 2.3rem;
    transition: all .2s ease-out;
    user-select: none;
    cursor: pointer;

    &:visited,
    &:link,
    &:focus {
        color: $color-white;
    }

    &:hover {
        color: $color-white;
        background-color: $color-secondary;
    }

    &--important {
        color: $color-white !important;
        background-color: $color-secondary-light;

        &:hover {
            background-color: $color-secondary;
        }
    }

    &:active {
        background-color: $color-secondary-dark;
    }
}
