.filter {
    position: absolute;
    left: 0;
    top: 10.36rem;
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    width: 30rem;
    transform: translate(4rem, 0);
    border-radius: 4px;
    align-items: center;

    @include respond(tab-land) {
        top: -14rem;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        min-height: 12rem;
        padding: 2rem;
        flex-direction: row;
        justify-content: space-around;
        z-index: 999;
    }

    &--hotels {
        top: -14rem;
        left: 50%;
        transform: translate(-50%, 0);
        width: 91%;
        min-height: 12rem;
        padding: 2rem;
        flex-direction: row;
        justify-content: space-around;
    }

    &--heading {
        text-transform: capitalize;
        font-weight: 100;
        font-size: 3.2rem;
        color: $color-secondary;
        margin-bottom: .6rem;
    }

    &--category {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 2rem;
        color: $color-grey-2;

        &--heading {
            font-weight: 700;
            font-size: 1.8rem;
            cursor: pointer;
            user-select: none;
        }

        &--option {
            display: flex;
            flex-direction: row;
            position: relative;
            width: 100%;

            &--name {
                font-weight: 500;
                font-size: 1.4rem;
                cursor: pointer;
                user-select: none;
            }

            &--checkbox {
                /*border: none;
                background-color: $color-white-2;
                padding: 1rem;
                position: absolute;*/
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }

            &--checkbox:checked ~ &--checkbox-custom {
                background-color: $color-secondary;
            }
            
            &--checkbox:checked ~ &--checkbox-custom::after {
                display: block;
            }

            &--checkbox-custom {
                position: absolute;
                top: 0;
                left: -2rem;
                height: 2.5rem;
                width: 2.5rem;
                background-color: $color-white-2;
                cursor: pointer;

                &::after {
                    content: "";
                    position: absolute;
                    display: none;
                    left: 50%;
                    top: 50%;
                    width: 5px;
                    height: 10px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    transform: rotate(45deg) translate(-100%, -30%);
                    
                }
            }
        }

        &--option + &--option {
            margin-top: 1rem;
        }
    }
}