.sort {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background-color: $color-white;
    border-radius: 4px;
    padding: 1rem;

    &--hotels {
        width: 91%;
        position: absolute;
        top: -22rem;
        left: 50%;
        transform: translateX(-50%); 
    }

    &--title {
        font-size: 2.3rem;
        font-weight: 700;
        color: $color-secondary;
        text-transform: capitalize;
    }

    &--options {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &--option {
        background-color: $color-white-2;
        font-size: 1.8rem;
        font-weight: 400;
        padding: .6rem;
        border-radius: 4px;
        cursor: pointer;
        text-transform: capitalize;
        user-select: none;

        &--selected {
            background-color: $color-secondary;
            color: $color-white;
        }
    }

    &--option + &--option {
        margin-left: 2rem;
    }
}