.u-margin-bottom-sm {
  margin-bottom: 2rem; }

.u-margin-bottom-me {
  margin-bottom: 5rem; }

.u-margin-bottom-lg {
  margin-bottom: 10rem; }

.u-margin-none {
  margin: 0 !important; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "Quicksand", sans-serif;
  line-height: 1.6;
  font-weight: 300;
  background-color: #f4f4f4; }

.content {
  margin-top: 6.36rem;
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  .content--home {
    grid-template-rows: calc(100vh - 6.36rem) min-content minmax(calc(100vh - 6.36rem), min-content) repeat(2, min-content); }
  .content--summary {
    grid-template-rows: calc(100vh - 6.36rem - 6.36rem);
    background-color: #fff;
    position: relative; }
  .content--trip {
    grid-template-rows: min-content min-content;
    background-color: #f4f4f4; }

::selection {
  background-color: #ff502f;
  color: #fff; }

.heading-1 {
  font-weight: 400;
  font-size: 4.8rem;
  color: #ff502f;
  font-family: "Raleway", sans-serif;
  margin-bottom: 2rem; }

.heading-2 {
  font-weight: 700;
  font-size: 3.2rem;
  color: #fff; }

.heading-3 {
  font-weight: 100;
  font-size: 2.6rem;
  color: #ff502f; }

.btn {
  color: #ff502f;
  background-color: #fff;
  border: 1px solid #ff502f;
  border-radius: 200px;
  text-decoration: none;
  outline: none;
  padding: 1rem 3rem;
  font-weight: 300;
  font-size: 2.3rem;
  transition: all .2s ease-out;
  user-select: none;
  cursor: pointer; }
  .btn:visited, .btn:link, .btn:focus {
    color: #fff; }
  .btn:hover {
    color: #fff;
    background-color: #ff502f; }
  .btn--important {
    color: #fff !important;
    background-color: #ff7b62; }
    .btn--important:hover {
      background-color: #ff502f; }
  .btn:active {
    background-color: #fb2800; }

.link {
  color: #777;
  transition: all .2s;
  display: inline-block;
  text-transform: uppercase; }
  .link:link, .link:visited, .link:focus {
    color: #777;
    text-decoration: none;
    outline: none; }
  .link:hover {
    color: #fff;
    background-image: linear-gradient(to right bottom, rgba(255, 123, 98, 0.9), #fb2800);
    transform: skewX(-11deg) skewY(2deg) scale(1.2);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.form {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .form--input-group {
    position: relative; }
    .form--input-group--home {
      display: flex;
      flex-direction: row;
      width: 100%; }
    .form--input-group--inline--1 {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      margin-right: 0rem; }
    .form--input-group--inline--2 {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
      .form--input-group--inline--2 .form--input-group--label {
        transform: translate(16rem, -2.2rem);
        left: unset;
        right: 0; }
    .form--input-group--inline--budget {
      width: 50%;
      /*.form--input-group--label--budget-currency, .form--input-group--input--budget {
                    transform: translate(0,0);
                }*/ }
      .form--input-group--inline--budget .form--input-group--label--budget-label {
        transform: translate(-20rem, -2.2rem); }
    .form--input-group--label {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(-20rem, -2.2rem);
      font-size: 1.6rem;
      font-weight: 100;
      transition: all .4s ease-in-out; }
      .form--input-group--label--budget-label {
        transform: translate(-22.5rem, -2.2rem); }
      .form--input-group--label--budget-currency {
        left: unset;
        right: 0;
        top: 0;
        transform: translate(50%, 0);
        background-image: linear-gradient(to right, rgba(255, 123, 98, 0.9), #fb2800);
        color: #fff;
        font-size: 2rem;
        padding: 1rem 2rem;
        font-weight: 400;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        user-select: none;
        transform: translateX(17.5rem);
        height: 100%; }
    .form--input-group--input {
      font-size: 2.6rem;
      font-family: "Quicksand", sans-serif;
      padding: 1rem 2rem;
      border: none;
      border-radius: 2px;
      width: 35rem; }
      .form--input-group--input--budget {
        width: 29rem;
        transform: translateX(-2rem); }
        .form--input-group--input--budget:not(:last-child) {
          margin-right: 2rem; }
    .form--input-group:not(:last-child) {
      margin-right: 2rem; }

.form-home {
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(105deg, rgba(51, 51, 51, 0.95) 0%, rgba(51, 51, 51, 0.95) 60%, transparent 60%), url(/img/yosemite.jpg);
  background-size: cover;
  width: 80vw;
  height: 50rem;
  position: relative;
  border-radius: 4px; }
  .form-home--container {
    width: 60%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem; }
  .form-home--input-group {
    position: relative; }
    .form-home--input-group--home {
      display: flex;
      flex-direction: row;
      position: relative; }
      .form-home--input-group--home--icon {
        color: #32dbc6;
        position: absolute;
        bottom: 0;
        font-size: 4rem;
        transition: all .2s; }
        .form-home--input-group--home--icon--1 {
          left: 0;
          transform: translate(-7rem, 50%); }
          .form-home--input-group--home--icon--1:hover {
            transform: translate(-7rem, 50%) scale(1.3); }
        .form-home--input-group--home--icon--2 {
          right: 0;
          transform: translate(7rem, 50%); }
          .form-home--input-group--home--icon--2:hover {
            transform: translate(7rem, 50%) scale(1.3); }
    .form-home--input-group--inline--1 {
      margin-right: 2rem; }
    .form-home--input-group--inline--2 .form--input-group--label {
      transform: translate(16rem, -2.2rem);
      left: unset;
      right: 0; }
    .form-home--input-group--inline--budget {
      width: 50%; }
      .form-home--input-group--inline--budget .form--input-group--label--budget-currency, .form-home--input-group--inline--budget .form--input-group--input--budget {
        transform: translate(0, 0); }
      .form-home--input-group--inline--budget .form--input-group--label--budget-label {
        transform: translate(-20rem, -2.2rem); }
    .form-home--input-group--label {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(-20rem, -2.2rem);
      font-size: 1.6rem;
      font-weight: 100;
      transition: all .4s ease-in-out; }
      .form-home--input-group--label--budget-label {
        transform: translate(-22.5rem, -2.2rem); }
      .form-home--input-group--label--budget-currency {
        left: unset;
        right: 0;
        top: 0;
        transform: translate(50%, 0);
        background-image: linear-gradient(to right, rgba(255, 123, 98, 0.9), #fb2800);
        color: #fff;
        font-size: 2rem;
        padding: 1rem 2rem;
        font-weight: 400;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        user-select: none; }
    .form-home--input-group--input {
      font-size: 2.6rem;
      font-family: "Quicksand", sans-serif;
      padding: 1rem 2rem;
      border: none;
      border-radius: 2px;
      width: 35rem; }
      .form-home--input-group--input--budget {
        width: 30rem;
        transform: translateX(-2.5rem); }
    .form-home--input-group:not(:last-child) {
      padding-bottom: 2rem; }

.react-autosuggest__container {
  position: relative; }

.react-autosuggest__input {
  font-size: 2.6rem;
  font-family: "Quicksand", sans-serif;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2px;
  width: 35rem; }

.react-autosuggest__input--focused {
  outline: none; }

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.react-autosuggest__suggestions-container {
  display: none; }

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 5.1rem;
  width: 35rem;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2; }

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.react-autosuggest__suggestion {
  cursor: pointer; }
  .react-autosuggest__suggestion--container {
    padding: 1rem 2rem; }
  .react-autosuggest__suggestion--important {
    background-image: linear-gradient(to right, rgba(251, 40, 0, 0.9), rgba(255, 123, 98, 0.7));
    color: #fff; }

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd; }

.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right bottom, rgba(255, 123, 98, 0.9), #fb2800);
  z-index: 10000; }
  .loader--background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9999;
    background-color: #fff; }
  .loader--icon {
    position: absolute;
    bottom: 5rem;
    left: 5rem;
    color: #fff;
    font-size: 6rem;
    animation: animatePlane 35s infinite;
    z-index: 10002; }
  .loader--text {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    user-select: none;
    z-index: 10001; }
    .loader--text--loading {
      font-weight: 400; }

@keyframes animatePlane {
  0% {
    transform: translate(0, 0) rotateZ(-90deg); }
  10% {
    transform: translate(0, -80vh) rotateZ(-90deg); }
  11% {
    transform: translate(0, -80vh) rotateZ(30deg); }
  20% {
    transform: translate(90vw, 0) rotateZ(30deg); }
  21% {
    transform: translate(90vw, 0) rotateZ(-150deg); }
  30% {
    transform: translate(50vw, -40vh) rotateZ(-150deg); }
  31% {
    transform: translate(50vw, -40vh) rotateZ(-30deg); }
  40% {
    transform: translate(80vw, -70vh) rotateZ(-30deg); }
  41% {
    transform: translate(80vw, -70vh) rotateZ(160deg); }
  50% {
    transform: translate(0, -20vh) rotateZ(160deg); }
  51% {
    transform: translate(0, -20vh) rotateZ(-35deg); }
  60% {
    transform: translate(60vw, -70vh) rotateZ(-35deg); }
  61% {
    transform: translate(60vw, -70vh) rotateZ(115deg); }
  70% {
    transform: translate(40vw, -10vh) rotateZ(115deg); }
  71% {
    transform: translate(40vw, -10vh) rotateZ(-25deg); }
  80% {
    transform: translate(70vw, -20vh) rotateZ(-25deg); }
  81% {
    transform: translate(70vw, -20vh) rotateZ(-160deg); }
  90% {
    transform: translate(20vw, -45vh) rotateZ(-160deg); }
  91% {
    transform: translate(20vw, -45vh) rotateZ(120deg); }
  99% {
    transform: translate(0, 0) rotateZ(120deg); }
  100% {
    transform: translate(0, 0) rotateZ(-90deg); } }

.date-picker {
  position: relative;
  width: 35rem; }
  .date-picker--range {
    display: flex;
    flex-direction: row;
    width: 72rem;
    background-color: #fff;
    border-radius: 2px; }
  .date-picker--icon {
    font-size: 4rem;
    color: #ff502f;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(-15%, -20%); }
    .date-picker--icon--range {
      right: unset;
      left: 0;
      transform: translate(30rem, -20%); }
  .date-picker--input {
    width: 100%;
    font-size: 2.6rem;
    font-family: "Quicksand", sans-serif;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2px; }
    .date-picker--input--range {
      width: 35rem; }
  .date-picker--calendar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 24rem;
    background-image: linear-gradient(to right bottom, #ff7b62, #fb2800);
    transform: translate(0, 100%);
    display: flex;
    flex-direction: column;
    color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    user-select: none;
    z-index: 30; }
    .date-picker--calendar--header {
      height: 8rem;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      border-bottom: 3px solid #fff; }
      .date-picker--calendar--header--nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        font-size: 1.8rem; }
        .date-picker--calendar--header--nav--leftArr {
          cursor: pointer;
          transition: all .2s;
          width: 2rem !important;
          height: 3rem; }
          .date-picker--calendar--header--nav--leftArr:hover {
            transform: scale(1.09) translateX(-0.5rem); }
        .date-picker--calendar--header--nav--heading {
          font-size: 1.6rem;
          font-weight: 400; }
        .date-picker--calendar--header--nav--rightArr {
          cursor: pointer;
          transition: all .2s;
          width: 2rem !important;
          height: 3rem; }
          .date-picker--calendar--header--nav--rightArr:hover {
            transform: scale(1.09) translateX(0.5rem); }
      .date-picker--calendar--header--days {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: center; }
        .date-picker--calendar--header--days--item {
          width: 100%;
          font-size: 1.3rem;
          font-weight: 700; }
    .date-picker--calendar--calendar {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      width: 100%;
      min-height: 20rem;
      padding: 1rem 0; }
      .date-picker--calendar--calendar--date {
        height: 4rem;
        transition: .2s all;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem; }
        .date-picker--calendar--calendar--date:hover, .date-picker--calendar--calendar--date--selected {
          background-color: #fff;
          color: #777; }
        .date-picker--calendar--calendar--date--disabled {
          opacity: 0.4;
          cursor: default; }

.notification {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 8rem;
  z-index: 1000;
  animation: showNotification .6s ease-out;
  background-image: linear-gradient(to right bottom, #fb2800, #ff7b62);
  color: #fff;
  padding: 0 8rem; }
  .notification--title {
    font-size: 3.2rem;
    font-weight: 400; }
  .notification--message {
    font-size: 1.8rem;
    font-weight: 700; }
  .notification--close {
    font-size: 2.1rem;
    cursor: pointer; }

@keyframes showNotification {
  from {
    transform: translateY(-8rem); }
  to {
    transform: translateY(0); } }

.sort {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  padding: 1rem; }
  .sort--hotels {
    width: 91%;
    position: absolute;
    top: -22rem;
    left: 50%;
    transform: translateX(-50%); }
  .sort--title {
    font-size: 2.3rem;
    font-weight: 700;
    color: #ff502f;
    text-transform: capitalize; }
  .sort--options {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .sort--option {
    background-color: #f4f4f4;
    font-size: 1.8rem;
    font-weight: 400;
    padding: .6rem;
    border-radius: 4px;
    cursor: pointer;
    text-transform: capitalize;
    user-select: none; }
    .sort--option--selected {
      background-color: #ff502f;
      color: #fff; }
  .sort--option + .sort--option {
    margin-left: 2rem; }

.filter {
  position: absolute;
  left: 0;
  top: 10.36rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 30rem;
  transform: translate(4rem, 0);
  border-radius: 4px;
  align-items: center; }
  .filter--hotels {
    top: -14rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: 91%;
    min-height: 12rem;
    padding: 2rem;
    flex-direction: row;
    justify-content: space-around; }
  .filter--heading {
    text-transform: capitalize;
    font-weight: 100;
    font-size: 3.2rem;
    color: #ff502f;
    margin-bottom: .6rem; }
  .filter--category {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
    color: #777; }
    .filter--category--heading {
      font-weight: 700;
      font-size: 1.8rem;
      cursor: pointer;
      user-select: none; }
    .filter--category--option {
      display: flex;
      flex-direction: row;
      position: relative;
      width: 100%; }
      .filter--category--option--name {
        font-weight: 500;
        font-size: 1.4rem;
        cursor: pointer;
        user-select: none; }
      .filter--category--option--checkbox {
        /*border: none;
                background-color: $color-white-2;
                padding: 1rem;
                position: absolute;*/
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0; }
      .filter--category--option--checkbox:checked ~ .filter--category--option--checkbox-custom {
        background-color: #ff502f; }
      .filter--category--option--checkbox:checked ~ .filter--category--option--checkbox-custom::after {
        display: block; }
      .filter--category--option--checkbox-custom {
        position: absolute;
        top: 0;
        left: -2rem;
        height: 2.5rem;
        width: 2.5rem;
        background-color: #f4f4f4;
        cursor: pointer; }
        .filter--category--option--checkbox-custom::after {
          content: "";
          position: absolute;
          display: none;
          left: 50%;
          top: 50%;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 3px 3px 0;
          transform: rotate(45deg) translate(-100%, -30%); }
    .filter--category--option + .filter--category--option {
      margin-top: 1rem; }

.nav {
  width: 100vw;
  background-color: #32dbc6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0rem 6rem;
  animation: loadNav 1.8s .3s ease-out 1 forwards;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.8);
  z-index: 999; }
  .nav--item {
    font-size: 2.1rem;
    padding: 1.2rem 0.9rem;
    color: #fff;
    transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    border-bottom: 6px solid transparent;
    text-transform: uppercase; }
    .nav--item a, .nav--item a:visited, .nav--item a:focus {
      text-decoration: none;
      color: #fff;
      width: 100%;
      height: 100%; }
    .nav--item:hover {
      border-bottom: 4px solid #ff502f; }
    .nav--item:not(:last-child) {
      margin-right: 4rem; }
    .nav--item--logo {
      font-size: 3.2rem;
      letter-spacing: 0.4rem;
      font-weight: 300;
      align-self: center;
      user-select: none; }
      .nav--item--logo--heading {
        color: #fff;
        font-weight: 700;
        font-size: 3.2rem; }
    .nav--item--important {
      border-bottom: 4px solid #fff; }
  .nav--divider {
    flex-grow: 1; }

@keyframes loadNav {
  0% {
    background-color: #ff502f;
    transform: translateY(-6.36rem);
    opacity: 0; }
  40% {
    transform: translateY(0);
    opacity: 1; }
  100% {
    background-color: #32dbc6; } }

.header {
  grid-row: 1 / 2;
  grid-column: full-start / full-end;
  background-size: cover;
  background-attachment: fixed;
  background-color: transparent; }
  .header-img {
    grid-row: 1 / 2;
    grid-column: full-start / full-end;
    z-index: -1;
    background-size: cover;
    background-attachment: fixed; }
    .header-img-1 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/img/japan.jpg");
      animation: headerImage-1 50s linear infinite;
      opacity: 1; }
    .header-img-2 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/img/australia.jpg");
      animation: headerImage-2 50s linear infinite;
      opacity: 1; }
    .header-img-3 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/img/slovenia.jpg");
      animation: headerImage-3 50s linear infinite;
      opacity: 1; }
    .header-img-4 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/img/turkey.jpg");
      animation: headerImage-4 50s linear infinite;
      opacity: 1; }
    .header-img-5 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/img/usa.jpg");
      animation: headerImage-5 50s linear infinite;
      opacity: 1; }
  .header--welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center; }
    .header--welcome--heading {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 5.9rem;
      word-spacing: 1rem;
      letter-spacing: .5rem;
      position: relative; }
      .header--welcome--heading::after {
        content: "";
        width: 28rem;
        height: 5px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background: #ff502f;
        border-radius: 200px; }
    .header--welcome--quote {
      font-size: 2.4rem;
      margin-bottom: 1.9rem; }
  .header--arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    color: #fff;
    font-size: 3.4rem;
    transform: translateX(-50%);
    padding-bottom: 2.5rem;
    user-select: none; }

@keyframes headerImage-1 {
  0% {
    opacity: 1; }
  15% {
    opacity: 1; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0; }
  60% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes headerImage-2 {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  35% {
    opacity: 1; }
  40% {
    opacity: 0; }
  60% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes headerImage-3 {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 1; }
  55% {
    opacity: 1; }
  60% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes headerImage-4 {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0; }
  60% {
    opacity: 1; }
  75% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes headerImage-5 {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0; }
  60% {
    opacity: 0; }
  80% {
    opacity: 1; }
  95% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.whatwedo {
  grid-row: 2 / 3;
  grid-column: full-start / full-end;
  display: flex;
  flex-direction: column;
  padding: 10rem 4rem;
  padding-bottom: 20rem;
  background-color: #f4f4f4;
  text-align: center; }
  .whatwedo--items {
    display: flex;
    flex-direction: row; }
  .whatwedo--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .6s ease-out; }
    .whatwedo--item--icon {
      font-size: 6.4rem;
      margin-bottom: 1.8rem;
      color: #ff7b62;
      transition: all .3s ease-in; }
    .whatwedo--item--paragraph {
      font-weight: 400;
      font-size: 1.6rem; }
    .whatwedo--item:hover {
      transform: scale(1.09); }
    .whatwedo--item:hover .whatwedo--item--icon {
      color: #fb2800; }
  .whatwedo--item + .whatwedo--item {
    margin-left: 2rem; }

.offers {
  grid-row: 3 / 4;
  grid-column: full-start / full-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4; }
  .offers--places {
    display: flex;
    flex-direction: row; }
    .offers--places--place {
      font-size: 2.6rem;
      background-color: #fff;
      padding: 1rem 2rem;
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
      transition: all .4s ease-out;
      cursor: pointer;
      user-select: none; }
      .offers--places--place:hover {
        box-shadow: 0 2rem 1.6rem rgba(0, 0, 0, 0.1);
        background-color: #ff502f;
        color: #fff; }
      .offers--places--place--preferred {
        background-color: #ff7b62;
        background-image: linear-gradient(to right bottom, #ff7b62, #fb2800);
        color: #fff; }
      .offers--places--place:active, .offers--places--place--selected {
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
        background-color: #fb2800;
        color: #fff; }
    .offers--places--place + .offers--places--place {
      margin-left: 2rem; }
  .offers--list {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    width: 100%;
    padding: 0rem 15rem;
    justify-content: center; }
    .offers--list--item {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 52rem;
      min-width: 40rem;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      transition: all .4s ease-out; }
      .offers--list--item--img {
        background-size: cover;
        height: 23rem;
        align-self: stretch;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 85% 100%, 0 100%); }
      .offers--list--item--heading {
        color: transparent;
        background-clip: text;
        font-size: 3.6rem;
        font-weight: 700; }
      .offers--list--item--details {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        text-align: center;
        width: 70%; }
        .offers--list--item--details--item {
          font-size: 2.1rem;
          color: #777; }
          .offers--list--item--details--item:not(:last-child) {
            border-bottom: 1px solid #eee; }
      .offers--list--item--price {
        padding-top: 1.5rem;
        color: transparent;
        background-clip: text;
        font-size: 3.2rem; }
      .offers--list--item:hover {
        transform: scale(1.05) translateY(-2rem); }
    .offers--list--item + .offers--list--item {
      margin-left: 4rem; }

.createatrip {
  grid-row: 4 / 5;
  grid-column: full-start / full-end;
  background-color: #f4f4f4;
  background-image: linear-gradient(to bottom, #457fca, #5691c8);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 0;
  padding-bottom: 16rem;
  margin-top: 4rem; }
  .createatrip--heading {
    color: #fff; }
  .createatrip--form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .createatrip--form--input-group {
      position: relative; }
      .createatrip--form--input-group--label {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-15rem, -2.2rem);
        font-size: 1.6rem;
        font-weight: 100;
        transition: all .4s ease-in-out; }
      .createatrip--form--input-group--input {
        font-size: 3.1rem;
        padding: 1rem 2rem;
        border: none;
        border-radius: 4px; }
      .createatrip--form--input-group:not(:last-child) {
        padding-bottom: 2rem; }

.footer {
  grid-row: 5 / 6;
  grid-column: full-start / full-end; }
  .footer--text {
    color: #777;
    font-size: 2.4rem;
    padding: 1rem 4rem; }

.trip--heading {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem 0; }

.trip--footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6.36rem;
  background-image: linear-gradient(#5de3d2, #49beb7);
  z-index: 20; }
  .trip--footer--back {
    border-radius: 200px;
    font-size: 1.8rem;
    font-weight: 700;
    border: 5px solid #fff;
    background: transparent;
    cursor: pointer;
    color: #fff;
    padding: 1rem 3rem;
    transition: all .2s; }
    .trip--footer--back:hover {
      background: #fff;
      color: #777; }
  .trip--footer--heading {
    color: #fff;
    font-size: 3.2rem;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase; }

.flights {
  grid-row: 1 / 2;
  grid-column: center-start / center-end;
  background-color: #f4f4f4;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2rem;
  margin-top: 4rem;
  margin-bottom: 8rem; }
  .flights--item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    min-height: 26rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transition: all .4s;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    padding-left: 3rem; }
    .flights--item--open {
      height: unset;
      z-index: 12;
      margin: 3rem 0; }
    .flights--item:hover {
      box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.15);
      transform: scale(1.06) translateY(0); }
    .flights--item--outbound, .flights--item--inbound {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      padding: 2rem 0;
      width: 35%; }
      .flights--item--outbound--segment, .flights--item--inbound--segment {
        padding: 1rem .5rem;
        color: #777;
        visibility: collapse; }
        .flights--item--outbound--segment--open, .flights--item--inbound--segment--open {
          visibility: visible; }
        .flights--item--outbound--segment--title, .flights--item--inbound--segment--title {
          font-size: 2rem;
          font-weight: 700;
          color: transparent;
          background-clip: text; }
        .flights--item--outbound--segment--time, .flights--item--inbound--segment--time {
          font-size: 1.6rem;
          font-weight: 300; }
        .flights--item--outbound--segment--flight-number, .flights--item--inbound--segment--flight-number {
          font-size: 1.6rem;
          font-weight: 100; }
        .flights--item--outbound--segment--carrier, .flights--item--inbound--segment--carrier {
          font-size: 1.6rem;
          font-weight: 600; }
      .flights--item--outbound--carrier-image, .flights--item--inbound--carrier-image {
        height: 8rem;
        background-repeat: no-repeat; }
      .flights--item--outbound--direction, .flights--item--inbound--direction {
        font-size: 1.6rem;
        font-weight: 100;
        color: #777; }
        .flights--item--outbound--direction--icon, .flights--item--inbound--direction--icon {
          font-size: 1.6rem; }
      .flights--item--outbound--title, .flights--item--inbound--title {
        font-size: 2.2rem;
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        background-clip: text;
        color: transparent; }
      .flights--item--outbound--operated-by, .flights--item--inbound--operated-by {
        font-size: 1.6rem;
        font-weight: 400;
        color: #777; }
      .flights--item--outbound--stops, .flights--item--inbound--stops {
        font-size: 1.6rem;
        font-weight: 400;
        color: #777; }
      .flights--item--outbound--duration, .flights--item--inbound--duration {
        font-size: 1.6rem;
        font-weight: 400;
        color: #777;
        position: relative;
        margin-bottom: 3rem; }
    .flights--item--details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      background-image: linear-gradient(to right bottom, #ff7b62, #fb2800);
      padding: 2rem 3rem;
      clip-path: polygon(0 0, 100% 0, 100% 80%, 80% 100%, 0 100%);
      width: 30%; }
      .flights--item--details--open {
        clip-path: none; }
      .flights--item--details--class {
        font-size: 2.3rem;
        color: #fff;
        font-weight: 100;
        font-family: "Raleway", sans-serif; }
      .flights--item--details--price {
        font-size: 3.2rem;
        color: #fff;
        font-weight: 400;
        font-family: "Raleway", sans-serif; }
      .flights--item--details--book {
        /*background-color: $color-white !important;
                color: $color-secondary !important; */
        border: 5px solid #fff;
        background-color: transparent !important; }
        .flights--item--details--book:hover {
          background-color: #fff !important;
          color: #777; }
      .flights--item--details--price + .flights--item--details--book {
        margin-top: 2rem; }

.hotels {
  grid-row: 1 / 2;
  grid-column: full-start / full-end;
  background-color: #f4f4f4;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  grid-row-gap: 4rem;
  grid-column-gap: 5rem;
  margin-bottom: 8rem;
  margin-top: 24rem;
  padding: 0 9rem;
  position: relative; }
  .hotels--item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    align-items: center;
    height: 65rem;
    transition: all .5s; }
    .hotels--item:hover {
      transform: translateY(-1rem) scale(1.06); }
    .hotels--item--image {
      height: 21rem;
      width: 100%;
      clip-path: polygon(0 0, 100% 0, 100% 80%, 80% 100%, 0 100%); }
    .hotels--item--name {
      padding: 1rem 2rem;
      margin-bottom: .5rem;
      font-size: 3.2rem;
      font-weight: 100;
      font-family: "Raleway", sans-serif;
      color: #ff502f; }
    .hotels--item--name-sub {
      padding: 0 2rem;
      font-size: 1.4rem;
      font-weight: 700;
      color: #ff7b62;
      text-align: center; }
    .hotels--item--details {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 2rem 1rem; }
      .hotels--item--details--item {
        font-size: 2.2rem;
        font-weight: 400; }
      .hotels--item--details--item + .hotels--item--details--item {
        border-top: 1px solid #eee; }
    .hotels--item--price {
      font-size: 3.2rem;
      font-weight: 100;
      color: transparent;
      background-image: linear-gradient(#ff7b62, #fb2800);
      background-clip: text; }
    .hotels--item--book {
      margin: 2rem; }

.summary {
  grid-row: 1 / 2;
  grid-column: center-start / center-end;
  background-color: #fff;
  display: flex;
  flex-direction: column; }
  .summary--flight-hotel {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .summary--flight {
    width: 50%; }
  .summary--hotel--heading {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 3.2rem;
    text-transform: uppercase;
    color: transparent;
    background-clip: text; }
  .summary--hotel--name {
    color: transparent;
    background-clip: text;
    font-weight: 400;
    font-size: 3.2rem; }
  .summary--hotel--name-sub {
    color: transparent;
    background-clip: text;
    padding: 0 2rem;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center; }
  .summary--details {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 6.36rem;
    justify-content: space-between;
    padding: 2rem 6rem;
    position: fixed;
    left: 0;
    bottom: 0;
    align-items: center; }
    .summary--details--price {
      color: #fff;
      font-weight: 100;
      font-size: 3.2rem; }
    .summary--details--heading {
      color: #fff;
      font-size: 3.2rem;
      font-weight: 700;
      font-family: "Raleway", sans-serif;
      text-transform: uppercase; }
    .summary--details--book {
      border-radius: 200px;
      font-size: 1.8rem;
      font-weight: 700;
      border: 5px solid #fff;
      background: transparent;
      cursor: pointer;
      color: #fff;
      padding: 1rem 3rem;
      transition: all .2s; }
      .summary--details--book:hover {
        background: #fff;
        color: #777; }

.test {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }
