*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "Quicksand", sans-serif;
  line-height: 1.6;
  font-weight: 300; }

.content {
  margin-top: 6.36rem;
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  .content--home {
    grid-template-rows: calc(100vh - 6.36rem) min-content minmax(calc(100vh - 6.36rem), min-content) repeat(2, min-content); }
  .content--trip {
    grid-template-rows: min-content min-content;
    background-color: #f4f4f4; }

::selection {
  background-color: #ff502f;
  color: #fff; }

.heading-1 {
  font-weight: 400;
  font-size: 4.8rem;
  color: #ff502f;
  font-family: "Raleway", sans-serif;
  margin-bottom: 2rem; }

.heading-2 {
  font-weight: 700;
  font-size: 3.2rem;
  color: #fff; }

.heading-3 {
  font-weight: 100;
  font-size: 2.6rem;
  color: #ff502f; }

.btn {
  color: #ff502f;
  background-color: #fff;
  border: 1px solid #ff502f;
  border-radius: 200px;
  text-decoration: none;
  outline: none;
  padding: 1rem 3rem;
  font-weight: 300;
  font-size: 2.3rem;
  transition: all .2s ease-out;
  user-select: none;
  cursor: pointer; }
  .btn:visited, .btn:link, .btn:focus {
    color: #fff; }
  .btn:hover {
    color: #fff;
    background-color: #ff502f; }
  .btn--important {
    color: #fff !important;
    background-color: #ff7b62; }
    .btn--important:hover {
      background-color: #ff502f; }
  .btn:active {
    background-color: #fb2800; }

.link {
  color: #777;
  transition: all .2s;
  display: inline-block;
  text-transform: uppercase; }
  .link:link, .link:visited, .link:focus {
    color: #777;
    text-decoration: none;
    outline: none; }
  .link:hover {
    color: #fff;
    background-image: linear-gradient(to right bottom, rgba(255, 123, 98, 0.9), #fb2800);
    transform: skewX(-11deg) skewY(2deg) scale(1.2);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.form {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .form--input-group {
    position: relative; }
    .form--input-group--label {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(-20rem, -2.2rem);
      font-size: 1.6rem;
      font-weight: 100;
      transition: all .4s ease-in-out; }
      .form--input-group--label--budget-label {
        transform: translate(-22.5rem, -2.2rem); }
      .form--input-group--label--budget-currency {
        left: unset;
        right: 0;
        top: 0;
        transform: translate(50%, 0);
        background-image: linear-gradient(to right, rgba(255, 123, 98, 0.9), #fb2800);
        color: #fff;
        font-size: 2rem;
        padding: 1rem 2rem;
        font-weight: 400;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        user-select: none; }
    .form--input-group--input {
      font-size: 2.6rem;
      font-family: "Quicksand", sans-serif;
      padding: 1rem 2rem;
      border: none;
      border-radius: 4px;
      width: 35rem; }
      .form--input-group--input--budget {
        width: 30rem;
        transform: translateX(-2.5rem); }
    .form--input-group:not(:last-child) {
      padding-bottom: 2rem; }

.react-autosuggest__container {
  position: relative; }

.react-autosuggest__input {
  font-size: 2.6rem;
  font-family: "Quicksand", sans-serif;
  padding: 1rem 2rem;
  border: none;
  border-radius: 4px;
  width: 35rem; }

.react-autosuggest__input--focused {
  outline: none; }

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.react-autosuggest__suggestions-container {
  display: none; }

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 5.1rem;
  width: 35rem;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2; }

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.react-autosuggest__suggestion {
  cursor: pointer; }
  .react-autosuggest__suggestion--container {
    padding: 1rem 2rem; }
  .react-autosuggest__suggestion--important {
    background-image: linear-gradient(to right, rgba(251, 40, 0, 0.9), rgba(255, 123, 98, 0.7));
    color: #fff; }

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd; }

.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right bottom, rgba(255, 123, 98, 0.9), #fb2800);
  z-index: 10000; }
  .loader--background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9999;
    background-color: #fff; }
  .loader--icon {
    position: absolute;
    bottom: 5rem;
    left: 5rem;
    color: #fff;
    font-size: 6rem;
    animation: animatePlane 35s infinite;
    z-index: 10002; }
  .loader--text {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    user-select: none;
    z-index: 10001; }
    .loader--text--loading {
      font-weight: 400; }

@keyframes animatePlane {
  0% {
    transform: translate(0, 0) rotateZ(-90deg); }
  10% {
    transform: translate(0, -80vh) rotateZ(-90deg); }
  11% {
    transform: translate(0, -80vh) rotateZ(30deg); }
  20% {
    transform: translate(90vw, 0) rotateZ(30deg); }
  21% {
    transform: translate(90vw, 0) rotateZ(-150deg); }
  30% {
    transform: translate(50vw, -40vh) rotateZ(-150deg); }
  31% {
    transform: translate(50vw, -40vh) rotateZ(-30deg); }
  40% {
    transform: translate(80vw, -70vh) rotateZ(-30deg); }
  41% {
    transform: translate(80vw, -70vh) rotateZ(160deg); }
  50% {
    transform: translate(0, -20vh) rotateZ(160deg); }
  51% {
    transform: translate(0, -20vh) rotateZ(-35deg); }
  60% {
    transform: translate(60vw, -70vh) rotateZ(-35deg); }
  61% {
    transform: translate(60vw, -70vh) rotateZ(115deg); }
  70% {
    transform: translate(40vw, -10vh) rotateZ(115deg); }
  71% {
    transform: translate(40vw, -10vh) rotateZ(-25deg); }
  80% {
    transform: translate(70vw, -20vh) rotateZ(-25deg); }
  81% {
    transform: translate(70vw, -20vh) rotateZ(-160deg); }
  90% {
    transform: translate(20vw, -45vh) rotateZ(-160deg); }
  91% {
    transform: translate(20vw, -45vh) rotateZ(120deg); }
  99% {
    transform: translate(0, 0) rotateZ(120deg); }
  100% {
    transform: translate(0, 0) rotateZ(-90deg); } }

.nav {
  width: 100vw;
  background-color: #32dbc6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0rem 6rem;
  animation: loadNav 1.8s .3s ease-out 1 forwards;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.8);
  z-index: 999; }
  .nav--item {
    font-size: 2.1rem;
    padding: 1.2rem 0.9rem;
    color: #fff;
    transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    border-bottom: 6px solid transparent;
    text-transform: uppercase; }
    .nav--item a, .nav--item a:visited, .nav--item a:focus {
      text-decoration: none;
      color: #fff;
      width: 100%;
      height: 100%; }
    .nav--item:hover {
      border-bottom: 4px solid #ff502f; }
    .nav--item:not(:last-child) {
      margin-right: 4rem; }
    .nav--item--logo {
      font-size: 3.2rem;
      letter-spacing: 0.4rem;
      font-weight: 300;
      align-self: center; }
      .nav--item--logo--heading {
        color: #fff;
        font-weight: 700;
        font-size: 3.2rem; }
    .nav--item--important {
      border-bottom: 4px solid #fff; }
  .nav--divider {
    flex-grow: 1; }

@keyframes loadNav {
  0% {
    background-color: #ff502f;
    transform: translateY(-6.36rem);
    opacity: 0; }
  40% {
    transform: translateY(0);
    opacity: 1; }
  100% {
    background-color: #32dbc6; } }

.header {
  grid-row: 1 / 2;
  grid-column: full-start / full-end;
  background-size: cover;
  background-attachment: fixed;
  background-color: transparent; }
  .header-img {
    grid-row: 1 / 2;
    grid-column: full-start / full-end;
    z-index: -1;
    background-size: cover;
    background-attachment: fixed; }
    .header-img-1 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/img/japan.jpg");
      animation: headerImage-1 50s linear infinite;
      opacity: 1; }
    .header-img-2 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/img/australia.jpg");
      animation: headerImage-2 50s linear infinite;
      opacity: 1; }
    .header-img-3 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/img/slovenia.jpg");
      animation: headerImage-3 50s linear infinite;
      opacity: 1; }
    .header-img-4 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/img/turkey.jpg");
      animation: headerImage-4 50s linear infinite;
      opacity: 1; }
    .header-img-5 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/img/usa.jpg");
      animation: headerImage-5 50s linear infinite;
      opacity: 1; }
  .header--welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center; }
    .header--welcome--heading {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 5.9rem;
      word-spacing: 1rem;
      letter-spacing: .5rem;
      position: relative; }
      .header--welcome--heading::after {
        content: "";
        width: 28rem;
        height: 5px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background: #ff502f;
        border-radius: 200px; }
    .header--welcome--quote {
      font-size: 2.4rem;
      margin-bottom: 1.9rem; }
  .header--arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    color: #fff;
    font-size: 3.4rem;
    transform: translateX(-50%);
    padding-bottom: 2.5rem;
    user-select: none; }

@keyframes headerImage-1 {
  0% {
    opacity: 1; }
  15% {
    opacity: 1; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0; }
  60% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes headerImage-2 {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  35% {
    opacity: 1; }
  40% {
    opacity: 0; }
  60% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes headerImage-3 {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 1; }
  55% {
    opacity: 1; }
  60% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes headerImage-4 {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0; }
  60% {
    opacity: 1; }
  75% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes headerImage-5 {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0; }
  60% {
    opacity: 0; }
  80% {
    opacity: 1; }
  95% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.whatwedo {
  grid-row: 2 / 3;
  grid-column: full-start / full-end;
  display: flex;
  flex-direction: column;
  padding: 10rem 4rem;
  padding-bottom: 20rem;
  background-color: #f4f4f4;
  text-align: center; }
  .whatwedo--items {
    display: flex;
    flex-direction: row; }
  .whatwedo--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .6s ease-out; }
    .whatwedo--item--icon {
      font-size: 6.4rem;
      margin-bottom: 1.8rem;
      color: #ff7b62;
      transition: all .3s ease-in; }
    .whatwedo--item--paragraph {
      font-weight: 400;
      font-size: 1.6rem; }
    .whatwedo--item:hover {
      transform: scale(1.09); }
    .whatwedo--item:hover .whatwedo--item--icon {
      color: #fb2800; }
  .whatwedo--item + .whatwedo--item {
    margin-left: 2rem; }

.offers {
  grid-row: 3 / 4;
  grid-column: full-start / full-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4; }
  .offers--places {
    display: flex;
    flex-direction: row; }
    .offers--places--place {
      font-size: 2.6rem;
      background-color: #fff;
      padding: 1rem 2rem;
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
      transition: all .4s ease-out;
      cursor: pointer;
      user-select: none; }
      .offers--places--place:hover {
        box-shadow: 0 2rem 1.6rem rgba(0, 0, 0, 0.1);
        background-color: #ff502f;
        color: #fff; }
      .offers--places--place--preferred {
        background-color: #ff7b62;
        background-image: linear-gradient(to right bottom, #ff7b62, #fb2800);
        color: #fff; }
      .offers--places--place:active, .offers--places--place--selected {
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
        background-color: #fb2800;
        color: #fff; }
    .offers--places--place + .offers--places--place {
      margin-left: 2rem; }
  .offers--list {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    width: 100%;
    padding: 0rem 15rem;
    justify-content: center; }
    .offers--list--item {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 52rem;
      min-width: 40rem;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      transition: all .4s ease-out; }
      .offers--list--item--img {
        background-size: cover;
        height: 23rem;
        align-self: stretch;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 85% 100%, 0 100%); }
      .offers--list--item--heading {
        color: transparent;
        background-clip: text;
        font-size: 3.6rem;
        font-weight: 700; }
      .offers--list--item--details {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        text-align: center;
        width: 70%; }
        .offers--list--item--details--item {
          font-size: 2.1rem;
          color: #777; }
          .offers--list--item--details--item:not(:last-child) {
            border-bottom: 1px solid #eee; }
      .offers--list--item--price {
        padding-top: 1.5rem;
        color: transparent;
        background-clip: text;
        font-size: 3.2rem; }
      .offers--list--item:hover {
        transform: scale(1.05) translateY(-2rem); }
    .offers--list--item + .offers--list--item {
      margin-left: 4rem; }

.createatrip {
  grid-row: 4 / 5;
  grid-column: full-start / full-end;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8rem; }
  .createatrip--form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .createatrip--form--input-group {
      position: relative; }
      .createatrip--form--input-group--label {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-15rem, -2.2rem);
        font-size: 1.6rem;
        font-weight: 100;
        transition: all .4s ease-in-out; }
      .createatrip--form--input-group--input {
        font-size: 3.1rem;
        padding: 1rem 2rem;
        border: none;
        border-radius: 4px; }
      .createatrip--form--input-group:not(:last-child) {
        padding-bottom: 2rem; }

.footer {
  grid-row: 5 / 6;
  grid-column: full-start / full-end; }
  .footer--text {
    color: #777;
    font-size: 2.4rem;
    padding: 1rem 4rem; }

.flights {
  grid-row: 1 / 2;
  grid-column: center-start / center-end;
  background-color: #f4f4f4;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2rem;
  margin-top: 8rem; }
  .flights--item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    min-height: 26rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transition: all .4s;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    padding-left: 3rem; }
    .flights--item--open {
      height: unset;
      z-index: 12;
      margin: 3rem 0; }
    .flights--item:hover {
      box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.15);
      transform: scale(1.06) translateY(0); }
    .flights--item--outbound, .flights--item--inbound {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      padding: 2rem 0; }
      .flights--item--outbound--segment, .flights--item--inbound--segment {
        padding: 1rem .5rem;
        color: #777; }
        .flights--item--outbound--segment--title, .flights--item--inbound--segment--title {
          font-size: 2rem;
          font-weight: 700;
          color: transparent;
          background-clip: text; }
        .flights--item--outbound--segment--time, .flights--item--inbound--segment--time {
          font-size: 1.6rem;
          font-weight: 300; }
        .flights--item--outbound--segment--flight-number, .flights--item--inbound--segment--flight-number {
          font-size: 1.6rem;
          font-weight: 100; }
        .flights--item--outbound--segment--carrier, .flights--item--inbound--segment--carrier {
          font-size: 1.6rem;
          font-weight: 600; }
      .flights--item--outbound--carrier-image, .flights--item--inbound--carrier-image {
        height: 8rem;
        background-repeat: no-repeat; }
      .flights--item--outbound--direction, .flights--item--inbound--direction {
        font-size: 1.6rem;
        font-weight: 100;
        color: #777; }
        .flights--item--outbound--direction--icon, .flights--item--inbound--direction--icon {
          font-size: 1.6rem; }
      .flights--item--outbound--title, .flights--item--inbound--title {
        font-size: 2.2rem;
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        background-clip: text;
        color: transparent; }
      .flights--item--outbound--operated-by, .flights--item--inbound--operated-by {
        font-size: 1.6rem;
        font-weight: 400;
        color: #777; }
      .flights--item--outbound--stops, .flights--item--inbound--stops {
        font-size: 1.6rem;
        font-weight: 400;
        color: #777; }
      .flights--item--outbound--duration, .flights--item--inbound--duration {
        font-size: 1.6rem;
        font-weight: 400;
        color: #777;
        position: relative;
        margin-bottom: 3rem; }
    .flights--item--details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      background-image: linear-gradient(to right bottom, #ff7b62, #fb2800);
      padding: 2rem 3rem;
      clip-path: polygon(0 0, 100% 0, 100% 80%, 80% 100%, 0 100%); }
      .flights--item--details--open {
        clip-path: none; }
      .flights--item--details--class {
        font-size: 2.3rem;
        color: #fff;
        font-weight: 100;
        font-family: "Raleway", sans-serif; }
      .flights--item--details--price {
        font-size: 3.2rem;
        color: #fff;
        font-weight: 400;
        font-family: "Raleway", sans-serif; }
      .flights--item--details--book {
        /*background-color: $color-white !important;
                color: $color-secondary !important; */
        border: 5px solid #fff;
        background-color: transparent !important; }
        .flights--item--details--book:hover {
          background-color: #fff !important;
          color: #777; }
      .flights--item--details--price + .flights--item--details--book {
        margin-top: 2rem; }
