$color-primary: #32dbc6;
$color-primary-dark: #49beb7;
$color-primary-light: lighten(#32dbc6, 10%);

$color-secondary: #ff502f;
$color-secondary-dark: darken(#ff502f, 10%);
$color-secondary-dark-2: darken(#ff502f, 20%);
$color-secondary-light: lighten(#ff502f, 10%);

$color-tertiary: #ebefd0;
$color-tertiary-dark: darken(#ebefd0, 10%);
$color-tertiary-light: lighten(#ebefd0, 10%);

$color-white: #fff;
$color-white-2: #f4f4f4;

$color-grey: #eee;
$color-grey-2: #777;
$color-grey-3: #333;

$font-primary: 'Quicksand', sans-serif;
$font-heading: 'Raleway', sans-serif;